body {
  padding-top: 50px;
}

.em-text {
    
    color:#1caa98 !important;
    
}

.jumbotron {
    
    background: url(../img/4-min.jpg);
    background-size: cover;
    height: 500px;
    text-align: center;
      

}

.jumbotron .app-btn{
    
    margin-top: 5px; 
    margin-right: 30px;
    margin-top: 10px;

}

.jumbotron h1{
    
    margin-top: 70px; 
}

.meio{
    
    padding: 10px;
}

section {
    padding: 40px 0 40px 0;
}


section#funcoes {
    
    background: #1caa98;
    color: #fff;
    padding: 40px; 
    overflow: auto; 
   
}

section#funcoes ul li {
    
    font-size: 22px;
    list-style: none; 
    line-height: 2.0em;
    
}

footer {
    background: #333;
    color: #fff;
    padding: 30px 0 20px 0;
}

footer li{
    
    float: left;
    padding: 0 10px 0 10px;
    list-style: none;
    
}

footer a {
    color:#fff;
    
}

footer p{
    float: right;
}